@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>CyberGirls 3.0 Migration Project 💜 Azure</h1>
    <p class="lead">A simple web app for migration  project for group 12, cloud security track.</p>
</div>
