@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>CyberGirls 3.0 Migration Project 💜 Azure</h1>
    <p class="lead">A simple web app for migration  project for group 12, cloud security track. This project is an exhibition for the cybergirls open day.</p>
    <img src="https://media.licdn.com/dms/image/D4D22AQG-j5fzldph3Q/feedshare-shrink_1280/0/1690819881481?e=1693440000&v=beta&t=t1G54ctkZClkCAtzXikkxGxLSmb770ymAq9B3w41-Yc"></img>
</div>
